PHX_HOST=news.home
PHX_SCHEME=http
PHX_URL_PORT=80
PORT=4000
SECRET_KEY_BASE=replace-with-output-from-mix-phx-gen-secret
DATABASE_URL=ecto://postgres:postgres@postgres/newspaper_prod
POOL_SIZE=10
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=newspaper_prod
